<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <title>TorrentMirror - {{download_name}}</title>
  <style>
    #loader {
      transition: all .3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1s infinite ease-in-out;
      animation: sk-scaleout 1s infinite ease-in-out
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1);
        opacity: 0
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
      }
    }
  </style>
  <link href="../static/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  {% if download_status == "started" %} 
  <script type="text/javascript">

    setInterval((function() {
      jQuery.getJSON('/get_download_status/{{download_gid}}', function(data) {
          $("#download_speed").text(data.download_speed);
          $("#completion_percentage").text(data.completion_percentage);
          console.log(data.download_factor)
          if($(data.download_factor) != "1"){
              $('#drive_download').attr('disabled','disabled');
          }
          else{
              $('#drive_download').removeAttr('disabled');
          }
          $('.progress-bar').css('width', data.completion_percentage +'%').attr('aria-valuenow', data.completion_percentage);
          $('.progress-bar').show(); 
        });
    }), 1000);
    </script>
    {% endif %}

    <script>
       
        $(document).ready(function(){
      $('#drive_download').click(function(){
      $.getJSON("/get_drive_link/{{identifier}}", function(result){
        window.location.href = result.gdrive_link;
                  });
              });
          });
    </script>
</head>

<body class="app">
  <div id="loader">
    <div class="spinner"></div>
  </div>
  <script type="text/javascript">
    window.addEventListener('load', () => {
      const loader = document.getElementById('loader');
      setTimeout(() => {
        loader.classList.add('fadeOut');
      }, 300);
    });
  </script>
  <div>
    <div class="sidebar">
      <div class="sidebar-inner">
        <div class="sidebar-logo">
          <div class="peers ai-c fxw-nw">
            <div class="peer peer-greed">
              <a class="sidebar-link td-n" href="/" class="td-n">
                <div class="peers ai-c fxw-nw">
                  <div class="peer">
                    <div class="logo"><img src="../static/assets/static/images/logo.png" alt=""></div>
                  </div>
                  <div class="peer peer-greed">
                    <h5 class="lh-1 mB-0 logo-text">Add a download task</h5></div>
                </div>
              </a>
            </div>
            <div class="peer">
              <div class="mobile-toggle sidebar-toggle"><a href="#" class="td-n"><i class="ti-arrow-circle-left"></i></a></div>
            </div>
          </div>
        </div>
        <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 active"><a class="sidebar-link" href="/" default><span class="icon-holder"><i class="c-blue-500 ti-home"></i> </span><span class="title">Dashboard</span></a></li>
            <li class="nav-item"><a class="sidebar-link" href="/add_download"><span class="icon-holder"><i class="c-light-blue-500 ti-plus"></i> </span><span class="title">Start new download</span></a></li>
            <li class="nav-item"><a class="sidebar-link" href="/myuploads"><span class="icon-holder"><i class="c-light-blue-500 ti-layout-list-thumb"></i> </span><span class="title">My uploads</span></a></li>
            <li class="nav-item"><a class="sidebar-link" href="/logout"><span class="icon-holder"><i class="c-light-blue-500 ti-power-off"></i> </span><span class="title">Logout</span></a></li>
          </ul>
      </div>
    </div>
    <div class="page-container">
      <div class="header navbar">
        <div class="header-container">
          <ul class="nav-left">
            <li><a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);"><i class="ti-menu"></i></a></li>
          </ul>
          <ul class="nav-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                <div class="peer mR-10"><img class="w-2r bdrs-50p" src="../../../randomuser.me/api/portraits/men/10.jpg" alt=""></div>
                <div class="peer"><span class="fsz-sm c-grey-900">{{user_fullname}}</span></div>
              </a>
              <ul class="dropdown-menu fsz-sm">
                <li><a href="/logout" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-power-off mR-10"></i> <span>Logout</span></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <main class="main-content bgc-grey-100">
        <div id="mainContent">
          <div class="row gap-20 masonry pos-r">
            <div class="masonry-sizer col-md-12"></div>
            <div class="masonry-item w-100">
              <div class="row gap-20">
                <div class="masonry-item col-md-12">
                  <div class="bgc-white p-20 bd">
                    <h6 class="c-grey-900">Status</h6>
                    <div class="peers fxw-nw@lg+ ai-s">
                      <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
                        <div class="layers">
                          <div class="layer w-100 mB-10">
                            <h6 class="lh-1">Viewing : {{download_name}}</h6>
                          </div>
                          <div class="layer w-100">
                            <div class="layer w-100">
                              <h5 class="mB-5">Status</h5>
                              <small class="fw-600 c-grey-700"><span id="download_speed">Download Complete</span></small>
                              <span class="pull-right c-grey-600 fsz-sm"><span id="completion_percentage"></span>%</span>
                              <div class="progress mT-10">
                                <div class="progress-bar bgc-deep-green-500" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                  style="width:100%">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="peer bdL p-20 w-30p@lg+ w-100p@lg-">
                        <div class="layers">
                          <div class="layer w-100">
                           
                            <div class="peer">
                              <h6 class="fsz-sm">{{download_name}}</h6>
                              <br>
                              <div class="layer w-50">
                                <button type="button" id="drive_download" class="btn cur-p btn-success">Download from Drive</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              </div>
            </div>

          </div>
        </div>
      </main>
      <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600"><span>Copyright © 2018 Designed by TeamSanam. All rights reserved.</span>
        
      </footer>
    </div>
  </div>
  <script type="text/javascript" src="../static/vendor.js"></script>
  <script type="text/javascript" src="../static/bundle.js"></script>
</body>

</html>
